.board {
    width: 640px;
    height: 640px;
    border: 25px solid #333;
    margin: 20px;

    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.chess-row {
    display: flex;
    flex: 1;
}

.chess-square {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-square.white {
    background-color: #f0d9b5;
}

.chess-square.black {
    background-color: #b58863;
}

.chess-square.potential-move {
    background-color: #c8c8c8;
}
