.GameAlerts {
    color: darkblue;
    min-height: 30px;
}

.main {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left {
    width: 750px;
    padding: 10px;
    box-sizing: border-box;
}

.right {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
}

.GameAlerts {
    min-height: 1.5em;
}
